# 01 â€” Data audit (NTGS stream sediments)

This notebook audits the raw NTGS stream sediment geochemistry dataset and creates quick sanity checks.

In [2]:
import geopandas as gpd
import pandas as pd

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [7]:
gdf = gpd.read_file(r"..\data\GEOCHEMISTRY_STREAMS_shp\GEOCHEMISTRY_STREAM_SEDIMENTS.shp")

print(gdf.head())
print(gdf.columns)
print(gdf.crs)

                   ID SAMPLEID SAMPLEREF SAM_TYPE   SAM_METH  LATITUDE  \
0     1AD1443_7134313  7134313      1048   STREAM  STREAMSED -22.67468
1  113500.10._7533936  7533936    GH5219   STREAM  STREAMSED -14.24830
2  113500.10._7533954  7533954    GH5221   STREAM  STREAMSED -14.26857
3  113500.10._7533004  7533004    GH5197   STREAM  STREAMSED -14.22128
4     1AD1443_7134639  7134639      8523   STREAM  STREAMSED -22.64956

   LONGITUDE LITHOLOGY DT_SAMPLE  SAMPLEWT                        COMPANY  \
0  136.32661      None       NaT       NaN  Normandy Exploration (Darwin)
1  130.85313      None       NaT       NaN     Stockdale Prospecting Ltd.
2  130.86000      None       NaT       NaN     Stockdale Prospecting Ltd.
3  130.79383      None       NaT       NaN     Stockdale Prospecting Ltd.
4  136.02512      None       NaT       NaN  Normandy Exploration (Darwin)

  ACCURACY   TITLE            MAP100K          MAP250K    REPORT_NO OPEN_FILE  \
0     200m  EL6993      Jervois Range         HUCKITTA  CR1992-0008       Yes
1     200m  EL7380  Wingate Mountains  FERGUSSON RIVER  CR1993-0498       Yes
2     200m  EL7380  Wingate Mountains  FERGUSSON RIVER  CR1993-0498       Yes
3     200m  EL7380  Wingate Mountains  FERGUSSON RIVER  CR1993-0498       Yes
4     200m  EL7505      Jervois Range         HUCKITTA  CR1994-0111       Yes

    JOB_NO COMMENTS  AG_PPM  AL_PPM  AS_PPM  AU_PPB  BA_PPM  BE_PPM  BI_PPM  \
0  1AD1443     None   -0.10     NaN     2.0     1.0   210.0     NaN   -3.00
1      UNK     None    0.41     NaN     4.0     NaN   274.0     NaN    0.44
2      UNK     None    0.88     NaN     4.0     NaN   330.0     NaN    0.71
3      UNK     None    0.38     NaN    13.0     NaN   372.0     NaN    0.26
4  1AD1443     None     NaN     NaN     NaN     NaN     NaN     NaN     NaN

   CA_PPM  CD_PPM  CE_PPM  CO_PPM  CR_PPM  CS_PPM  CU_PPM  DY_PPM  ER_PPM  \
0     NaN    -0.1     NaN    6.00   160.0     NaN   20.00     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN    3.28    19.0     NaN    6.24     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

   EU_PPM  FE_PCT  FE2O3_PCT  GA_PPM  GD_PPM  GE_PPM  HF_PPM  HG_PPM  HO_PPM  \
0     NaN    2.94        NaN     NaN     NaN     NaN     NaN     NaN     NaN
1     NaN     NaN        NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN        NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     NaN    2.07        NaN     NaN     NaN     NaN     NaN     NaN     NaN
4     NaN     NaN        NaN     NaN     NaN     NaN     NaN     NaN     NaN

   IN_PPM  IR_PPM  K_PPM  LA_PPM  LI_PPM  LU_PPM  MG_PPM  MN_PPM  MO_PPM  \
0     NaN     NaN    NaN     NaN     NaN     NaN     NaN   280.0    -1.0
1     NaN     NaN    NaN     NaN     NaN     NaN     NaN     NaN     0.1
2     NaN     NaN    NaN     NaN     NaN     NaN     NaN     NaN    -0.1
3     NaN     NaN    NaN     NaN     NaN     NaN     NaN   123.0     0.5
4     NaN     NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN

   NA_PCT  NB_PPM  ND_PPM  NI_PPM  OS_PPB  P_PPM  PB_PPM  PD_PPB  PR_PPM  \
0     NaN     NaN     NaN   13.00     NaN  190.0   10.00     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN    NaN   29.90     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN    NaN   49.90     NaN     NaN
3     NaN     NaN     NaN    3.41     NaN    NaN    9.44     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN  390.0     NaN     NaN     NaN

   PT_PPB  RB_PPM  RE_PPM  RH_PPB  RU_PPB  S_PCT  SB_PPM  SC_PPM  SE_PPM  \
0     NaN     NaN     NaN     NaN     NaN    NaN   -5.00     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN    NaN    0.40     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN    NaN    0.41     NaN     NaN
3     NaN     NaN     NaN     NaN     NaN    NaN    0.54     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN    NaN     NaN     NaN     NaN

   SIO2_PCT  SM_PPM  SN_PPM  SR_PPM  TA_PPM  TB_PPM  TE_PPM  TH_PPM  TI_PPM  \
0       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

   TL_PPM  TM_PPM  U_PPM  V_PPM  W_PPM  Y_PPM  YB_PPM  ZN_PPM  ZR_PPM  \
0     NaN     NaN   -4.0   36.0  -10.0    NaN     NaN    30.0     NaN
1     NaN     NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
2     NaN     NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
3     NaN     NaN    NaN   36.0    NaN    NaN     NaN    16.6     NaN
4     NaN     NaN   -4.0   28.0   10.0    NaN     NaN     NaN     NaN

   UNIQ_ID                     geometry
0     90.0  POINT (136.32661 -22.67468)
1     91.0   POINT (130.85313 -14.2483)
2     92.0     POINT (130.86 -14.26857)
3     93.0  POINT (130.79383 -14.22128)
4     94.0  POINT (136.02512 -22.64956)
Index(['ID', 'SAMPLEID', 'SAMPLEREF', 'SAM_TYPE', 'SAM_METH', 'LATITUDE',
       'LONGITUDE', 'LITHOLOGY', 'DT_SAMPLE', 'SAMPLEWT', 'COMPANY',
       'ACCURACY', 'TITLE', 'MAP100K', 'MAP250K', 'REPORT_NO', 'OPEN_FILE',
       'JOB_NO', 'COMMENTS', 'AG_PPM', 'AL_PPM', 'AS_PPM', 'AU_PPB', 'BA_PPM',
       'BE_PPM', 'BI_PPM', 'CA_PPM', 'CD_PPM', 'CE_PPM', 'CO_PPM', 'CR_PPM',
       'CS_PPM', 'CU_PPM', 'DY_PPM', 'ER_PPM', 'EU_PPM', 'FE_PCT', 'FE2O3_PCT',
       'GA_PPM', 'GD_PPM', 'GE_PPM', 'HF_PPM', 'HG_PPM', 'HO_PPM', 'IN_PPM',
       'IR_PPM', 'K_PPM', 'LA_PPM', 'LI_PPM', 'LU_PPM', 'MG_PPM', 'MN_PPM',
       'MO_PPM', 'NA_PCT', 'NB_PPM', 'ND_PPM', 'NI_PPM', 'OS_PPB', 'P_PPM',
       'PB_PPM', 'PD_PPB', 'PR_PPM', 'PT_PPB', 'RB_PPM', 'RE_PPM', 'RH_PPB',
       'RU_PPB', 'S_PCT', 'SB_PPM', 'SC_PPM', 'SE_PPM', 'SIO2_PCT', 'SM_PPM',
       'SN_PPM', 'SR_PPM', 'TA_PPM', 'TB_PPM', 'TE_PPM', 'TH_PPM', 'TI_PPM',
       'TL_PPM', 'TM_PPM', 'U_PPM', 'V_PPM', 'W_PPM', 'Y_PPM', 'YB_PPM',
       'ZN_PPM', 'ZR_PPM', 'UNIQ_ID', 'geometry'],
      dtype='object')
EPSG:4283

In [8]:
if gdf.crs is None:
    gdf = gdf.set_crs('EPSG:4283')
print('rows:', len(gdf), 'cols:', len(gdf.columns))
print('CRS:', gdf.crs)

rows: 157520 cols: 91
CRS: EPSG:4283

In [9]:
print('lon min/max:', float(gdf['LONGITUDE'].min()), float(gdf['LONGITUDE'].max()))
print('lat min/max:', float(gdf['LATITUDE'].min()), float(gdf['LATITUDE'].max()))

lon min/max: 129.00249 138.04748
lat min/max: -25.14141 -11.83064

In [10]:
dup_xy = gdf.duplicated(subset=['LONGITUDE','LATITUDE']).sum()
print('duplicate coordinate rows:', int(dup_xy))

duplicate coordinate rows: 28871

In [11]:
if 'UNIQ_ID' in gdf.columns:
    print('UNIQ_ID unique:', gdf['UNIQ_ID'].is_unique)
    print('UNIQ_ID duplicated:', int(gdf['UNIQ_ID'].duplicated().sum()))
else:
    print('UNIQ_ID column not present')

UNIQ_ID unique: True
UNIQ_ID duplicated: 0

In [12]:
gdf['SAM_TYPE'].value_counts()

SAM_TYPE
STREAM    157520
Name: count, dtype: int64

In [13]:
gdf['SAM_METH'].value_counts()

SAM_METH
STREAMSED    97818
STREAM       19599
BLEG         11925
CF           11510
BCL           8878
SUSP          1640
BULK          1401
PC            1330
ORIENT        1121
ALLUV          595
MAG            471
GRAVEL         452
Bleg           149
StreamSed      131
MAGLAG          92
FER             79
Streamsed       73
SL              71
SLIME           68
Stream          40
DUP             30
REASS           23
SAND            12
DHBLEG           6
CONC             3
UNK              2
streamsed        1
Name: count, dtype: int64

## Next

Proceed to `02_anomaly_model.ipynb` to build the 1 km grid and train Isolation Forest.